## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os


# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Busselton,-33.65,115.33,44.01,80,17,12.30,AU,8/28/2020 22:58
1,1,Svobodnyy,51.40,128.13,54.88,74,64,8.86,RU,8/28/2020 22:58
2,2,Keti Bandar,24.14,67.45,82.35,86,100,16.28,PK,8/28/2020 22:58
3,3,Bahia Blanca,-38.72,-62.27,55.67,44,39,3.89,AR,8/28/2020 22:54
4,4,Muros,42.78,-9.06,60.01,86,6,7.61,ES,8/28/2020 22:54

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Keti Bandar,24.14,67.45,82.35,86,100,16.28,PK,8/28/2020 22:58
5,5,Avarua,-21.21,-159.78,77.00,69,26,11.41,CK,8/28/2020 22:53
8,8,Cabo San Lucas,22.89,-109.91,80.01,88,90,3.36,MX,8/28/2020 22:57
15,15,Sitia,35.20,26.10,75.99,55,0,5.01,GR,8/28/2020 22:58
20,20,Gorontalo,0.54,123.06,78.28,77,26,4.47,ID,8/28/2020 22:58
22,22,Lebanon,36.21,-86.29,75.00,88,75,16.11,US,8/28/2020 22:53
27,27,Bethel,41.37,-73.41,80.60,54,1,3.20,US,8/28/2020 22:55
28,28,Kirakira,-10.45,161.92,82.51,76,100,7.49,SB,8/28/2020 22:58
33,33,Salalah,17.02,54.09,75.20,100,90,3.36,OM,8/28/2020 22:58
35,35,Nador,35.17,-2.93,82.40,48,0,19.46,MA,8/28/2020 22:58

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0    244
City          244
Lat           244
Lng           244
Max Temp      244
Humidity      244
Cloudiness    244
Wind Speed    244
Country       244
Date          244
dtype: int64

In [6]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = city_data_df[["City", "Country", "Max Temp", "Date", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp             Date    Lat     Lng Hotel Name
0       Busselton      AU     44.01  8/28/2020 22:58 -33.65  115.33
1       Svobodnyy      RU     54.88  8/28/2020 22:58  51.40  128.13
2     Keti Bandar      PK     82.35  8/28/2020 22:58  24.14   67.45
3    Bahia Blanca      AR     55.67  8/28/2020 22:54 -38.72  -62.27
4           Muros      ES     60.01  8/28/2020 22:54  42.78   -9.06
5          Avarua      CK     77.00  8/28/2020 22:53 -21.21 -159.78
6         Ushuaia      AR     33.80  8/28/2020 22:58 -54.80  -68.30
7        Saldanha      ZA     46.40  8/28/2020 22:58 -33.01   17.94
8  Cabo San Lucas      MX     80.01  8/28/2020 22:57  22.89 -109.91
9        Antalaha      MG     67.32  8/28/2020 22:58 -14.90   50.28

In [7]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
    }

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        ("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [8]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head()

,City,Country,Max Temp,Date,Lat,Lng,Hotel Name
0,Busselton,AU,44.01,8/28/2020 22:58,-33.65,115.33,Observatory Guest House
1,Svobodnyy,RU,54.88,8/28/2020 22:58,51.40,128.13,Alekseevskij Hotel
2,Keti Bandar,PK,82.35,8/28/2020 22:58,24.14,67.45,Haji laloo memon house
3,Bahia Blanca,AR,55.67,8/28/2020 22:54,-38.72,-62.27,Hotel Argos
4,Muros,ES,60.01,8/28/2020 22:54,42.78,-9.06,Apartment Av. Castelao

In [9]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
hotel_df.to_csv(r'WeatherPy_vacation.csv', index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [23]:
import matplotlib

In [ ]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig